@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.merienda{
    font-family:'Merienda', cursive;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.background{
    width: 100%;
    height: calc(100vh - 152px);
    background-color: black;
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
}

.card{
    border:2px solid rgba(41, 231, 214, 1);
    background-color: black;
    color: #fff;
}
.text-color{
    color:#BABDC4;
}