@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.merienda{
    font-family:'Merienda', cursive;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.background-black{
    background-color: #000;
}

.background-green{
    background-color: #000;
    border-color: rgba(41, 231, 214, 1);
}

.hover-effect:hover{
    color:rgba(41, 231, 214, 1) !important;
    transition: 0.5s ease-in;
    background-color: #000;
    border-color:rgba(41, 231, 214, 1); 
}

@media only screen and (max-width: 600px) {
    body {
      overflow-y:scroll;
      overflow-x:hidden;
    }
}



  //styling carousel
  .itemP {
    height: 48rem;
  }
  .itemP > img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  
  .caption {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    bottom:14.25rem !important;
  }
  
  .caption h3 {
    font-size: 35px;
    color: rgb(255, 255, 255);
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2329e7d6' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }   

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2329e7d6' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }

  .btn-danger {
    background-color: rgba(41, 231, 214, 1) !important;
    border-color: rgba(41, 231, 214, 1) !important;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;

    &:hover {
        background-color: rgba(41, 231, 214, 1) !important;
        border-color: rgba(41, 231, 214, 1);
        color: #fff;
    }   
  }

  .pr {
    padding-right: 5px;
  }

  .pl {
    padding-left: 5px;
  }

  input {
    margin-bottom: 20px;
  }

  $primary: #11998e;
  $secondary: rgba(41, 231, 214, 1);
  $white: #fff;
  $gray: #d3d3d3;

  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-bottom: 30px;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }

  
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

.btn-success {
  background-color:  $secondary !important;
  color: #000 !important;
  font-weight: bold !important;

  &:hover {
    color: #fff !important;
    transition: 0.4 ease-in;
    font-weight: bold;
  }
}



  